*.qsf
*.bak
*.cdb
*.hdb
*.xml
*.rdb
*.kpt
*.db_info
*.hier_info
*.hif
*.ipinfo
*.html
*.txt
*.ammdb
*.bpm
*.logdb
*.qmsg
*.ddb
*.flock
*.sci
*.syn_hier_info
*.dat
*.dpi
*.hb_info
*.sig
*.done
*.rpt
*.summary
incremental_db/README
*.qws
*.tmw_info
